body {
    margin: 0;
    padding: 0;
    background: #f1ff36;
    font-family: verdana;
    color: #fff;
}



.kontener {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/jezioro.jpg");
    background-size: 690px 568px;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    position: relative;
    text-decoration: none;
    border: 2px solid transparent;
    width: 700px;
    height: 300px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    font-size: 24px;
    padding-top: 40%;
    color: #262626;
    
}

.napis { 
    font-size: 30px;
    text-transform: capitalize;
    width: 700px;
    height: 55px;
    background-color: transparent;    
    transition: all 3s;    
    position: relative;
    text-align: center;
    width: 100%;
    left: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%); 
    position: fixed;
}

.napis p {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    top: 50%;
    
    
}

.kontener.tlo:hover .napis {
    width: 700px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);    
    font-size: 50px;
}



span {
    position: absolute;
    border: 2px solid transparent;
    width: 700px;
    height: 300px;
    font-size: 24px;
    padding-top: 40%;
    color: transparent;
    top: 0;
    left: -2px;   
}

h1::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 348px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
}

.kontener.tlo:hover h1::before {
    animation: animate 1s linear forwards;
}

@keyframes animate {
    0% {
        width: 25%;
        height: 0;
        border-top-color: blue;
    }
    25% {
        width: 350px;
        height: 0;
        border-top-color: blue;
    }
    50% {
        width: 50%;
        height: 0;
        border-top-color: blue;
        border-right-color: blue;
    }
    75% {
        width: 50%;
        height: 25%;
        border-top-color: blue;
        border-right-color: blue;
    }
    100% {
        height: 50%;
        width: 50%;
        border-right-color: blue;
        border-top-color: blue;
    }
}

h1::after {
    content: '';
    position: absolute;
    top: -2px;
    right: 348px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
}

.kontener.tlo:hover h1::after {
    animation: animate2 1s linear forwards;
}

@keyframes animate2 {
    0% {
        width: 25%;
        height: 0;
        border-top-color: blue;
    }
    25% {
        width: 50%;
        height: 0;
        border-top-color: blue;
    }
    50% {
        width: 50%;
        height: 0;
        border-top-color: blue;
        border-left-color: blue;
    }
    75% {
        width: 50%;
        height: 25%;
        border-top-color: blue;
        border-left-color: blue;
    }
    100% {
        height: 50%;
        width: 50%;
        border-left-color: blue;
        border-top-color: blue;
    }
}

span::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 348px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
}

.kontener.tlo:hover h1 span::before {
    animation: animate3 1s linear forwards;
}

@keyframes animate3 {
    0% {
        width: 25%;
        height: 0;
        border-bottom-color: blue;
    }
    25% {
        width: 50%;
        height: 0;
        border-bottom-color: blue;
    }
    50% {
        width: 50%;
        height: 0;
        border-bottom-color: blue;
        border-right-color: blue;
    }
    75% {
        width: 50%;
        height: 25%;
        border-bottom-color: blue;
        border-right-color: blue;
    }
    100% {
        height: 50%;
        width: 50%;
        border-right-color: blue;
        border-bottom-color: blue;
    }
}

span::after {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 348px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
}

.kontener.tlo:hover h1 span::after {
    animation: animate4 1s linear forwards;
}

@keyframes animate4 {
    0% {
        width: 25%;
        height: 0;
        border-bottom-color: blue;
    }
    25% {
        width: 50%;
        height: 0;
        border-bottom-color: blue;
    }
    50% {
        width: 50%;
        height: 0;
        border-bottom-color: blue;
        border-left-color: blue;
    }
    75% {
        width: 50%;
        height: 25%;
        border-bottom-color: blue;
        border-left-color: blue;
    }
    100% {
        height: 50%;
        width: 50%;
        border-left-color: blue;
        border-bottom-color: blue;
    }
}